[submodule "src/WhateverGreen"]
	path = src/WhateverGreen
	url = https://github.com/acidanthera/WhateverGreen.git
[submodule "src/OpenCorePkg"]
	path = src/OpenCorePkg
	url = https://github.com/acidanthera/OpenCorePkg.git
[submodule "src/AppleSupportPkg"]
	path = src/AppleSupportPkg
	url = https://github.com/acidanthera/AppleSupportPkg.git
[submodule "src/AppleALC"]
	path = src/AppleALC
	url = https://github.com/acidanthera/AppleALC.git
[submodule "src/Lilu"]
	path = src/Lilu
	url = https://github.com/acidanthera/Lilu.git
[submodule "src/VirtualSMC"]
	path = src/VirtualSMC
	url = https://github.com/acidanthera/VirtualSMC.git
[submodule "src/OcBinaryData"]
	path = src/OcBinaryData
	url = https://github.com/acidanthera/OcBinaryData.git
