# Files that will be built from source
EFI/BOOT/BOOTx64.efi
EFI/OC/Drivers/VBoxHfs.efi
EFI/OC/Drivers/OpenRuntime.efi
EFI/OC/Drivers/OpenCanopy.efi
EFI/OC/Kexts/Lilu.kext
EFI/OC/Kexts/AppleALC.kext
EFI/OC/Kexts/WhateverGreen.kext
EFI/OC/Kexts/VirtualSMC.kext
EFI/OC/Tools/Shell.efi
EFI/OC/Tools/ResetSystem.efi
EFI/OC/Resources
EFI/OC/OpenCore.efi
OpenCore-Image/
OpenCore.dmg*
OpenCore.iso*
OpenCoreEFIFolder.zip

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.*
*~
